body {
  font-family:  "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ========================================================================================================================================================
COMMON
======================================================================================================================================================== */


.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

.section {
  padding: 96px 0;
}

@media screen and (min-width: 768px) {
  
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1158px) {
  
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .section {
    padding: 120px 0;
  }
}

/* ========================================================================================================================================================
HERO
======================================================================================================================================================== */

.hero {
  padding: 72px 0;
  max-width: 320px;
  margin: 0 auto;
  background: #2e2f42;
  background-position: center;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/hero-bg-tel1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/hero-bg-tel2.jpg);
   }
}

.hero-title {
  max-width: 216px;
  margin: 0 auto 72px;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  color: #fff;
  text-align: center;
}

.hero-btn {
  background: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin: 0 auto;
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404BBF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}



@media screen and (min-width: 768px) {
.hero {
  padding: 112px 0;
  max-width: 768px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/hero-bg-tab1.jpg);
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/hero-bg-tab2.jpg);
   }
}

.hero-title {
  max-width: 496px;
  margin-bottom: 36px;
  font-size: 56px;
  line-height: 1.07;
}

}

@media screen and (min-width: 1158px) {
.hero {
  padding: 188px 0;
  min-width: 1158px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/hero-bg-desk1.jpg);
}

.hero-title {
  margin-bottom: 48px;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/hero-bg-desk2.jpg);
   }
}
}

/* ========================================================================================================================================================
FEATURES
======================================================================================================================================================== */

.features-box {
  display: none;
}

.container-features {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .container-features {
    gap: 72px 24px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .features-box {
    display: flex;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }
}


