body {
  font-family:  "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.section {
  padding: 120px 0;
}

/** ==============HEADER================ */

.header{
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
  0px 1px 1px rgba(46, 47, 66, 0.16),
   0px 1px 6px rgba(46, 47, 66, 0.08); 
} 

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  color: #2e2f42;
}

.studio-logo {
  margin-right: 76px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  gap: 40px;
}

.header-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-menu-link {
color: #2e2f42;
padding-top: 24px;
padding-bottom: 24px;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
  margin-left: auto;
  display: block;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/** ===================================== */

/** ================HERO================= */

.hero {
  background: #2e2f42;
  background-position: center;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/people-office-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
   max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
margin: 0 auto;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto 48px;
  max-width: 496px;
}

.hero-btn {
  background: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin: 0 auto;
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404BBF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

/** ===================================== */

/** ================FEATURES================= */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-features {
   display: flex;
   gap: 24px;
   justify-content: space-between;
}

.features {
  padding: 120px 0;
  margin: 0 auto;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-box {
  display: flex;
  align-items: center;
  justify-content: center; 
  border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background: #f4f4fd;
margin-bottom: 8px;
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/** ===================================== */

/** ================OUR TEAM================= */

.team {
  background: #f4f4fd;
  text-transform: capitalize;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-cards {
  display: flex;
  gap: 24px;
  align-items: center;
}

.team-item {
  background-color: #FFFFFF;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
   0 1px 1px 0 rgba(46, 47, 66, 0.16), 
   0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.text-item {
 padding: 32px 0;
}

.team-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-item-profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.social-list {
display: flex;
gap: 24px;
margin-top: 8px;
justify-content: center;
}
 
.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  fill: #f4f4fd;
}

.social-links:hover,
.social-links:focus {
  background-color: #404bbf;;
}

/** ===================================== */

/** ================PROJECTS================= */

.projects {
  text-transform: capitalize;
  padding-top: 120px; 
  padding-bottom: 120px;
}

.projects-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.projects-list {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.projects-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
  0 1px 1px 0 rgba(46, 47, 66, 0.16),
  0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.projects-item:hover .projects-cover-text {
  transform: translateY(0);
}

.projects-cover-wrap {
  position: relative;
  overflow: hidden;
}

.projects-cover-text {
  position: absolute;
  top: 0;
  line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
background-color: #4d5ae5;
height: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 40px 32px; 
}

.text-projects {
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.projects-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.projects-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/** ===================================== */

/** ================FOOTER================= */

.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-elements {
  display: flex;
  align-items: baseline;
}

.logo-btn {
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-text {
  margin-right: 120px;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-soc {
  display: flex;
  flex-direction: column;
}

.footer-text-social-media {
  font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.icon-send {
  fill: #fff;
  margin-left: 16px;
}

.subscribe-title {
  font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}

.footer-form-subscribe {
  margin-left: auto;
}

.footer-email {
border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
background-color: transparent;
padding-right: 16px;
padding-left: 16px;
font-size: 12px; 
line-height: 2;
letter-spacing: 0.04em; 
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
color: #ffffff;
}

.footer-email::placeholder {
  color: #ffffff;
}

.subscribe-btn {
  min-width: 165px;
  border-radius: 4px;
padding: 8px 24px;
border: none;
background: #4d5ae5;
display: flex;
justify-content: center;
align-items: center;

font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
}

.items-footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #31d0aa;
}

.social-media-btn {
  display: flex;
  max-width: 208px;
  gap: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
   visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
   0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px; 
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
display: flex;
justify-content: center;
align-items: center;
padding: 0;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
background-color: #e7e9fc;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
 border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-close:hover .icon-close,
.modal-close:focus .icon-close{
  fill: #ffffff;
}

.icon-ellipse {
  position: relative;
  border-radius: 100%;
  fill: #e7e9fc;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-close:hover .icon-ellipse,
.modal-close:hover .icon-ellipse {
  fill: #404bbf;
}

.modal-title {
  text-align: center;
  max-width: 360px;
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-comment {
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  color: teal;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:disabled {
  background-color: #b2aeae;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-input::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px; 
}

.modal-icon {
  position: absolute;
  fill: #2e2f42;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-input-wrap {
  position: relative;
}

.modal-text {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em; 
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 4px; 
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.modal-text::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-text:focus {
  border-color: #4D5AE5;
}

.modal-check {
  margin-bottom: 24px;
}

.checkbox-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-link {
  color: #4d5ae5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.check-text-holder {
  display: inline-flex; 
  height: 16px;
  width: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  border 250ms cubic-bezier(0.4, 0, 0.2, 1),
   fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .checkbox-text .check-text-holder{
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none; 
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.modal-btn {
  display: block;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
background-color: #404bbf;
}